---
import Arrow from '@assets/icons/arrow.svg';

const { translations: { privacyPolicy: { title = '', content = [] } } = {} } = Astro.locals;
---

<section
  class='flex flex-col pt-[104px] pb-[94px] px-4 lg:px-[88px] lg:pt-[189px] lg:pb-[227px] gap-y-12 lg:gap-y-[65px]'
>
  <div class='flex flex-row items-center gap-x-4'>
    <button onclick='history.back(); return false;' role='button' style='cursor: pointer;'>
      <div class='w-8 h-8 p-1.5 flex items-center justify-center border rounded-full border-[#794EFF]'>
        <Arrow class='rotate-180' />
      </div>
    </button>
    <span class='text-3xl font-extrabold lg:text-4xl'>{title}</span>
  </div>

  {
    content?.map((item: { title?: string; content: string[] }) => (
      <div class='flex flex-col gap-y-5'>
        {item.title && <span class='text-2xl font-semibold text-stone-800'>{item.title}</span>}
        <div class='flex flex-col gap-y-12'>
          {item.content.map((content) => (
            <span class='text-xl font-normal text-zinc-900'>{content}</span>
          ))}
        </div>
      </div>
    ))
  }
</section>
