---
import { Image } from 'astro:assets';

import arrow from '@assets/icons/arrow.svg';

const textItems: { title?: string; content: string[] }[] = [
  {
    content: [
      'Bank Alfalah Limited (“BAFL”) respects the privacy of its customers, visitors and surfers (“you”) to its web site and advises all of its customers, visitors and surfers to read and understand its privacy policy, and to check it periodically for any updates or revisions. This privacy statement sets out BAFL’s current policies and demonstrates BALF’s commitment to privacy of its customers, visitors and surfers.',
      'When you visit this web site, BAFL may collect personal data about you, either directly (where you are asked to provide the data) or un-directly. BAFL will, however, only use such personal data for the purposes set forth in this Privacy Statement and BAFL is committed to safeguard such personal data. This statement sets out the purposes of BAFL’s data processing in respect of this web site.',
      'BAFL may gather and analyze information regarding usage of this web site, including domain name, the number of hits, the pages visited, previous/subsequent sites visited and length of user session.',
    ],
  },
  {
    title: 'Purposes of Processing',
    content: [
      'BAFL collects and processes information of its customers, visitors and surfers to its web site to conduct its business, to inform and make available products and services offered by BAFL that may be of interest to you and for the development of web statistics. The information provided by you can be used to contact you when necessary, e.g. to notify you about functionality changes to the web site and to offer services that you may find helpful (provided you have not opted out of receiving such services). We may also use information collected through our web site for research regarding the effectiveness of the web site and the marketing, advertising and sales efforts of BAFL and its Partner/ Associates/ subsidiary Companies.',
    ],
  },
  {
    title: 'Sensitive Data/Information',
    content: [
      'BAFL does not seek to collect sensitive personal information (such as information revealing political opinions, religious beliefs, health or other matters) through this web site. If BAFL does seek to collect such data, your prior consent thereto will be sought. Please note that, by providing BAFL with unsolicited sensitive personal information you consent to our using such personal information as described hereinabove.',
    ],
  },
  {
    title: 'Disclosure of Information',
    content: [
      'BAFL may disclose information that it has collected from customers, visitors and surfers to affiliates, independent contractors and business partners who may use the information for the purposes outlined above. We may also disclose aggregate, individual or anonymous data, based on information collected from customers, visitors and surfers, to investors and potential partners or if required under the law. Finally, we may transfer information collected in connection with a sale of our product and services.',
    ],
  },
  {
    title: 'Maintenance of Information',
    content: [
      'Information about customers, visitors and surfers is maintained on our systems is protected using industry standard security measures. However, we cannot guarantee that the information submitted to, maintained on, or transmitted from our systems will be completely secure.',
    ],
  },
  {
    title: 'Third Party Web sites',
    content: [
      'Please note that this Privacy Statement does not extend to third party web sites linked to our web site.',
    ],
  },
  {
    title: 'Online Privacy Policy Only',
    content: [
      'This privacy policy applies only to our online activities and is valid for customers, visitors and surfers to our web site and regarding information shared and/or collected there. This policy does not apply to any information collected offline or via channels other than this web site.',
    ],
  },
  {
    title: 'Amendments',
    content: [
      'BAFL reserves the right to modify this Privacy Statement or any part thereof at any time and from time to time. Please check this statement from time to time for any changes.',
    ],
  },
  {
    title: 'Consent',
    content: ['By using our web site, you hereby consent to our privacy policy and agree to its terms.'],
  },
];
---

<section
  class='flex flex-col pt-[104px] pb-[94px] px-4 lg:px-[88px] lg:pt-[189px] lg:pb-[227px] gap-y-12 lg:gap-y-[65px]'
>
  <div class='flex flex-row items-center gap-x-4'>
    <button onclick='history.back(); return false;' role='button' style='cursor: pointer;'>
      <div class='w-8 h-8 p-1.5 flex items-center justify-center border rounded-full border-[#794EFF]'>
        <Image src={arrow} alt='Arrow' class='rotate-180' />
      </div>
    </button>
    <span class='text-3xl font-extrabold lg:text-4xl'>Privacy Policy</span>
  </div>

  {
    textItems.map((item) => (
      <div class='flex flex-col gap-y-5'>
        <span class='text-2xl font-semibold text-stone-800 '>{item.title}</span>
        <div class='flex flex-col gap-y-12'>
          {item.content.map((content) => (
            <span class='text-xl font-normal text-zinc-900'>{content}</span>
          ))}
        </div>
      </div>
    ))
  }
</section>
