---
export function getStaticPaths() {
  return [{ params: { country: 'bhr' } }];
}

import '@styles/global.css';

const pageTitle = 'Coming Soon | JinglePay';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{pageTitle}</title>
  </head>
  <body>
    <main class='flex flex-col justify-center items-center px-4 min-h-screen text-center bg-gray-50'>
      <div class='max-w-md'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          class='mx-auto mb-6 w-16 h-16 text-primary'
          fill='none'
          viewBox='0 0 24 24'
          stroke='currentColor'
          stroke-width='1.5'
        >
          <path stroke-linecap='round' stroke-linejoin='round' d='M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z'></path>
        </svg>

        <h1 class='text-4xl font-bold text-gray-800 md:text-5xl'>Coming Soon to Bahrain!</h1>
        <p class='mt-4 text-lg text-gray-600'>
          Great things are on the horizon! We’re working diligently to bring the JinglePay experience to Bahrain.
        </p>
        <p class='mt-2 text-gray-600'>In the meantime, explore our services in other regions:</p>
        <div class='flex flex-col gap-4 items-center mt-10 w-full sm:flex-row sm:max-w-md'>
          <a
            href='/pak'
            class='inline-block w-full sm:flex-1 px-6 py-3 text-center text-base font-medium text-white bg-gradient-to-r from-[#00A991] to-[#007D65] rounded-lg shadow-md transition-all duration-300 ease-in-out transform hover:from-[#007D65] hover:to-[#00A991] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#00A991] hover:-translate-y-1'
          >
            Explore Pakistan
          </a>
          <a
            href='/are'
            class='inline-block w-full sm:flex-1 px-6 py-3 text-center text-base font-medium text-white bg-gradient-to-r from-[#4A4A4A] to-[#333333] rounded-lg shadow-md transition-all duration-300 ease-in-out transform hover:from-[#333333] hover:to-[#4A4A4A] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#4A4A4A] hover:-translate-y-1'
          >
            Explore UAE
          </a>
        </div>
      </div>
    </main>
  </body>
</html>
