---
import SimpleLayout from '../layouts/SimpleLayout.astro';
import SimpleTransferCalculator from '../components/calculator/SimpleTransferCalculator.astro';
---

<SimpleLayout>
  <div class="container mx-auto py-10 px-4">
    <h1 class="text-3xl font-bold mb-6">Calculator Test Page</h1>
    <SimpleTransferCalculator />
  </div>
</SimpleLayout>
