---
import { Image } from 'astro:assets';

// Featured.astro - Component to showcase media mentions
---

<section class='py-16 text-center'>
  <div class='container px-4 mx-auto'>
    <h2 class='text-4xl font-bold mb-10 text-[#1c1c1c]'>Jingle Pay has been featured in:</h2>

    <div class='flex flex-wrap gap-10 justify-center items-center md:gap-16'>
      <!-- Finextra -->
      <a
        href='https://www.finextra.com/pressarticle/95078/jingle-pay-unlocks-mastercards-network-of-90-million-global-merchants-for-its-users'
        target='_blank'
        rel='noopener noreferrer'
        class='transition-opacity duration-300 hover:opacity-80'
      >
        <!-- <Image src='/logos/finextra.svg' alt='Finextra' height={12} class='h-12 md:h-16' /> -->
      </a>

      <!-- The Paypers -->
      <a
        href='https://thepaypers.com/search/index.aspx?search=jingle+pay'
        target='_blank'
        rel='noopener noreferrer'
        class='transition-opacity duration-300 hover:opacity-80'
      >
        <img src='/logos/the-paypers.svg' alt='The Paypers' class='h-12 md:h-16' />
      </a>

      <!-- The Fintech Times -->
      <a
        href='https://thefintechtimes.com/?s=%22jingle+pay%22'
        target='_blank'
        rel='noopener noreferrer'
        class='transition-opacity duration-300 hover:opacity-80'
      >
        <img src='/logos/the-fintech-times.svg' alt='The Fintech Times' class='h-12 md:h-16' />
      </a>
    </div>
  </div>
</section>

<style>
  section {
    background-color: #fff;
  }

  img {
    max-width: 100%;
    height: auto;
  }
</style>
