---
// src/components/HeroSection.astro
import playStoreImage from '@assets/icons/playstore.svg';
import appStoreImage from '@assets/icons/appstore.svg';
import Image from 'astro/components/Image.astro';
---

<section class='flex justify-center py-24 pb-16 text-center bg-white'>
  <div class='container'>
    <h1 class='text-[2.75rem] leading-tight font-bold mb-6 max-w-[800px] mx-auto'>
      Experience the future of money with Jingle Pay!
    </h1>
    <p class='text-xl text-gray-600 mb-10 max-w-[600px] mx-auto'>
      Jingle Pay is the go-to money app for your everyday financial needs.
    </p>

    <div class='flex justify-center gap-4'>
      <a
        href='#'
        class='inline-flex items-center p-2 px-4 font-sans text-black no-underline transition-colors duration-200 border border-black rounded hover:bg-gray-100'
      >
        <Image src={playStoreImage} alt='Get it on Google Play' class='w-5 h-5 mr-2' />
        <div class='flex flex-col leading-tight text-justify'>
          <span class='text-xs'>GET IT ON</span>
          <span class='text-sm font-bold'>Google Play</span>
        </div>
      </a>
      <a
        href='#'
        class='inline-flex items-center p-2 px-4 font-sans text-black no-underline transition-colors duration-200 border border-black rounded hover:bg-gray-100'
      >
        <Image src={appStoreImage} alt='Download on the App Store' class='w-5 h-5 mr-2' />
        <div class='flex flex-col leading-tight text-justify'>
          <span class='text-xs'>Download on the</span>
          <span class='text-sm font-bold'>App Store</span>
        </div>
      </a>
    </div>
  </div>
</section>
