---
import Layout from '@layouts/Layout.astro';
import { getStaticPathsWrapper } from '@util/getStaticPaths';

export const getStaticPaths = getStaticPathsWrapper(['are'], {
  are: ['en', 'ar'],
});

const { lang } = Astro.params;
---

<Layout>
  <div class='py-10 mt-[10rem] mb-[10rem] 3xl:min-h-screen bg-gray-50'>
    <!-- Policy Content -->
    <div class='p-8 bg-white rounded-lg shadow-sm'>
      <div class='prose prose-lg max-w-none'>
        <h2 class='pb-3 mb-6 text-2xl font-semibold text-gray-900 border-b border-gray-200'>
          Customer Detailed Declaration
        </h2>
      </div>

      <div class='space-y-6 leading-relaxed text-gray-700'>
        <p class='text-lg'>
          I, the undersigned and holder of this account, confirm that the address provided here, along with the attached
          document, belongs to me and/or that I am a resident at this address. Therefore, I request that this
          declaration and the document be accepted as valid proof of my residential address.

          <br />
          <br />

          I expressly declare that the information I have provided is true and correct to the best of my knowledge. I
          understand that if I provide any false information or make a misrepresentation, it may be used against me in
          accordance with applicable laws.
        </p>
      </div>
    </div>
  </div>
</Layout>
