---
import PakistanLanding from '@components/PakistanLanding.astro';
import UAELanding from '@components/UAELanding.astro';
import Layout from '@layouts/Layout.astro';
import { getStaticPathsWrapper } from '@util/getStaticPaths';

const { country } = Astro.params;

export const getStaticPaths = getStaticPathsWrapper(['pak', 'are'], {
  pak: ['en', 'ur'],
  are: ['en', 'ar'],
});
---

<Layout>
  {
    country === 'pak' ? (
      <PakistanLanding />
    ) : country === 'are' ? (
      <UAELanding />
    ) : (
      <p class='p-10 text-center text-red-500'>Unsupported country: {country}</p>
    )
  }
</Layout>
