---
import { Image } from 'astro:assets';
import cis from '@assets/images/security/cis.png';
import nist from '@assets/images/security/nist.png';
import pci from '@assets/images/security/pci.png';

const {
  translations: { regulation = {} },
} = Astro.locals;

// Get URL path to determine if we're on UAE website
const pathname = Astro.url.pathname;
---

<section id='regulation' class='p-4 mb-12 sm:p-8 md:p-12 lg:p-16'>
  <div class='p-3 bg-white rounded-xl shadow-[0px_0px_54.5px_0px_rgba(28,28,28,0.08)] lg:px-12 lg:pt-12 lg:pb-6'>
    <div class='mb-12 regulation-section'>
      <h2 class='mb-6 text-3xl font-bold text-gray-800'>{regulation.title}</h2>
      {
        regulation.description.map((description: string) => (
          <p class='mb-4 leading-relaxed text-gray-600'>{description}</p>
        ))
      }
    </div>

    {
      !pathname.includes('/are/') && (
        <div class='security-section'>
          <h2 class='mb-6 text-3xl font-bold text-gray-800'>{regulation.security}</h2>
          <div class='flex flex-col items-center gap-4 lg:flex-row'>
            {[cis, nist, pci].map((icon) => {
              return <Image src={icon} alt='Security feature' class='w-auto h-10' loading='lazy' decoding='async' />;
            })}
          </div>
        </div>
      )
    }
  </div>
</section>
