---
export type PromoBannerProps = {
  heading: string[];
  description: string;
  imageSrc: ImageMetadata;
  imageAlt: string;
  backgroundColor?: string;
  textColor?: string;
  type?: 'promo';
};

const { heading, description, backgroundColor, textColor } = Astro.props;
---

<div class={`w-full px-8 py-7 mb-8 overflow-hidden rounded-xl ${backgroundColor}`} style={`color: ${textColor};`}>
  <div class='container flex flex-row items-center justify-between'>
    <div class='flex-1 text-left'>
      {
        heading.map((title: string) => (
          <h2 class='text-[2.8rem] font-black m-0 leading-tight max-w-[450px]'>{title}</h2>
        ))
      }
      <p class='text-xl mt-4 opacity-90 max-w-[400px]'>{description}</p>
    </div>
    <div class='flex justify-end flex-1 mt-0 mt-6'>
      <slot />
    </div>
  </div>
</div>
