---
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';

import '@styles/global.css';

interface Props {
  title?: string;
  description?: string;
}

const {
  title = 'Jingle Pay - Future of Money',
  description = 'Experience the future of money with Jingle Pay. All your banking needs in one super-app.',
} = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <meta name='description' content={description} />
    <title>{title}</title>

    <!-- Google Fonts -->
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />

    <link rel='sitemap' href='/sitemap-index.xml' />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    /* Color Variables */
    --primary-purple: #7b68ee;
    --primary-green: #00c18c;
    --primary-blue: #1e90ff;
    --text-dark: #1c1c1c;
    --text-gray: #666666;
    --background-light: #f9f9f9;
    --white: #ffffff;
  }

  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'DM Sans', sans-serif;
    color: var(--text-dark);
    background-color: var(--white);
  }
</style>
