---
import playStoreImage from '@assets/icons/playstore.svg';
import appStoreImage from '@assets/icons/appstore.svg';
import { Image } from 'astro:assets';
---

<div class='flex justify-center gap-4'>
  <a
    href='#'
    class='inline-flex items-center p-2 px-4 font-sans text-black no-underline transition-colors duration-200 border border-black rounded hover:bg-gray-100'
  >
    <Image src={playStoreImage} alt='Get it on Google Play' class='w-5 h-5 mr-2' />
    <div class='flex flex-col leading-tight text-justify'>
      <span class='text-xs'>GET IT ON</span>
      <span class='text-sm font-bold'>Google Play</span>
    </div>
  </a>
  <a
    href='#'
    class='inline-flex items-center p-2 px-4 font-sans text-black no-underline transition-colors duration-200 border border-black rounded hover:bg-gray-100'
  >
    <Image src={appStoreImage} alt='Download on the App Store' class='w-5 h-5 mr-2' />
    <div class='flex flex-col leading-tight text-justify'>
      <span class='text-xs'>Download on the</span>
      <span class='text-sm font-bold'>App Store</span>
    </div>
  </a>
</div>
