---
import FinextraLogo from '@assets/logos/finextra-logo.svg';
import PaypersLogo from '@assets/logos/paypers.svg';
import FintechTimesLogo from '@assets/logos/fintech-times.svg';
import ArabNews from '@assets/logos/arab-news.svg';
import Zawya from '@assets/logos/zawya.svg';
import Pymnts from '@assets/logos/pymnts.svg';

const logos = [
  {
    href: 'https://www.pymnts.com/financial-inclusion-3/2022/jingle-pay-launches-mastercard-for-unbanked-uae-residents/',
    src: Pymnts,
    alt: 'Pymnts',
  },
  {
    href: 'https://thepaypers.com/search/index.aspx?search=jingle+pay',
    src: PaypersLogo,
    alt: 'The Paypers',
  },
  {
    href: 'https://www.finextra.com/pressarticle/95078/jingle-pay-unlocks-mastercards-network-of-90-million-global-merchants-for-its-users',
    src: FinextraLogo,
    alt: 'Finextra',
  },
  {
    href: 'https://www.arabnews.pk/tags/bank-alfalah',
    src: ArabNews,
    alt: 'Arab News',
  },
  {
    href: 'https://www.zawya.com/en/press-release/jingle-pay-brings-instant-money-transfers-and-global-remittances-to-migrant-workers-uyj68p9j',
    src: Zawya,
    alt: 'Zawya',
  },
  {
    href: 'https://thefintechtimes.com/?s=%22jingle+pay%22',
    src: FintechTimesLogo,
    alt: 'The Fintech Times',
  },
];

const { translations = {} } = Astro.locals;
---

<section
  class='flex flex-col gap-y-4 items-center px-4 pt-12 pb-8 mx-auto w-full text-center md:pt-16 bg-[#F6F6F6]'
  id='featured-section'
>
  <h2 class='text-2xl font-semibold text-gray-600 sm:text-3xl'>{translations.featuredIn}</h2>

  <!-- Featured Logos -->
  <div
    class='flex flex-wrap gap-x-4 gap-y-6 justify-center items-center px-4 mt-12 w-full xl:flex-nowrap xl:justify-center xl:gap-x-10 xl:overflow-x-auto xl:pb-2'
  >
    {
      logos.map((logo) => (
        <a
          href={logo.href}
          target='_blank'
          rel='noopener noreferrer'
          class={`flex justify-center items-center w-[30%] transition-opacity duration-300 hover:opacity-75 xl:w-auto xl:flex-shrink xl:min-w-0 ${logo.alt === 'Finextra' ? 'max-h-5 sm:max-h-6 md:max-h-7 lg:max-h-8' : 'max-h-6 sm:max-h-8 md:max-h-10 lg:max-h-12'}`}
          aria-label={`Featured in ${logo.alt}`}
        >
          <logo.src class='w-auto h-full' />
        </a>
      ))
    }
  </div>
</section>
