---
import { Image } from 'astro:assets';

import finextraLogo from '@assets/logos/finextra-logo.svg';
import paypersLogo from '@assets/logos/paypers.png';
import fintechTimesLogo from '@assets/logos/fintech-times.jpg';

// Featured.astro - Component to showcase media mentions
---

<section class='flex flex-col items-center px-4 mx-auto text-center gap-y-4 pt-15' id='featured-section'>
  <h2 class='text-4xl font-extrabold text-[#1c1c1c]'>Jingle Pay has been featured in:</h2>

  <div class='flex flex-row items-center justify-center max-w-[812px] max-h-[63px] gap-x-8'>
    <!-- Finextra -->
    <a
      href='https://www.finextra.com/pressarticle/95078/jingle-pay-unlocks-mastercards-network-of-90-million-global-merchants-for-its-users'
      target='_blank'
      rel='noopener noreferrer'
      class='transition-opacity duration-300 hover:opacity-80'
    >
      <Image src={finextraLogo} alt='Finextra' width={174} />
    </a>

    <!-- The Paypers -->
    <a
      href='https://thepaypers.com/search/index.aspx?search=jingle+pay'
      target='_blank'
      rel='noopener noreferrer'
      class='transition-opacity duration-300 hover:opacity-80'
    >
      <Image src={paypersLogo} alt='The Paypers' width={224} />
    </a>

    <!-- The Fintech Times -->
    <a
      href='https://thefintechtimes.com/?s=%22jingle+pay%22'
      target='_blank'
      rel='noopener noreferrer'
      class='transition-opacity duration-300 hover:opacity-80'
    >
      <Image src={fintechTimesLogo} alt='The Fintech Times' width={321} />
    </a>
  </div>
</section>
