---
import QRDownload from '@components/hero-section/QRDownload.astro';

const {
  translations: { hero = {} },
} = Astro.locals;
---

<section class='flex justify-center pb-12 px-4 sm:px-8 pt-[92px] lg:pt-[150px] text-center'>
  <div class='flex flex-col items-center max-w-4xl'>
    <h1 class='mx-auto mb-6 text-4xl font-extrabold leading-tight sm:text-6xl lg:text-7xl'>{hero.title}</h1>
    <p class='mx-auto mb-10 text-lg sm:text-2xl lg:text-xl text-[#2A2A2A]'>
      {hero.subtitle}
    </p>
    <div
      class='flex flex-col items-center justify-center w-full gap-4 sm:gap-6 lg:flex-row lg:items-stretch lg:max-w-[600px]'
    >
      <div class='hidden lg:block'>
        <QRDownload class='w-full lg:w-auto' />
      </div>
      <div class='block lg:hidden'>
        <a
          id='cta-download-sm'
          href='#download'
          class='block px-8 py-4 text-base font-bold text-white transition-colors duration-300 bg-black lg:hidden rounded-[14px] lg:text-base hover:bg-gray-600'
          >{hero.downloadApp}</a
        >
      </div>
    </div>
  </div>
</section>
