---
import { Image } from 'astro:assets';
import QRCodeGenerator from '@components/common/QRCodeGenerator.astro';
import QRModalTriggerer from '@components/common/QRModalTriggerer.astro';
// Removed qrCode import/prop as QRCodeGenerator is used directly
// Removed text prop as it's hardcoded now, simpler for this example

interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;

const {
  translations: { hero = {} },
} = Astro.locals;
---

<QRModalTriggerer>
  <div
    class={`relative flex items-center rounded-[14px] py-3 px-4 hover:-translate-y-0.5 transition-transform duration-200 border-2 border-[#C8C8C8] gap-x-3 sm:gap-x-4 text-start w-full ${className}`}
  >
    <div class='flex items-center justify-center flex-shrink-0'>
      <QRCodeGenerator />
    </div>
    <div class='flex flex-col justify-center'>
      <span class='block text-base font-bold leading-tight text-stone-800 lg:text-2xl'>{hero.cta[0]} {hero.cta[1]}</span
      >
    </div>
  </div>
</QRModalTriggerer>
